pokemon-details {
  width: 100%;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  border-radius: 10px;
  & > {
    header {
      width: 100%;
      position: relative;
      overflow: hidden;
      border-radius: 10px;
      padding: 20px;
      display: grid;
      grid-template: 1fr 1fr / 1fr 100px;
      h2 {
        grid-area: 1 / 1 / 2 / 2;
      }
      .header-type {
        grid-area: 2 / 1 / 3 / 2;
      }
      .header-id {
        grid-area: 1 / 2 / 3 / 3;
        font-size: 20px;
        text-align: right;
        z-index: 1;
      }
      .pokeball-png {
        position: absolute;
        right: -32px;
        bottom: -15px;
        opacity: 30%;
      }
    }
    .pokemon-img {
      width: 50vw;
      min-width: 200px;
      max-width: 300px;
      & > img {
        width: 100%;
      }
      z-index: 1;
    }
    .pokemon-info {
      border-radius: 30px 30px 0 0;
      margin-top: -60px;
      padding-top: 40px;
      max-width: 600px;
      width: 100%;
      height: 365px;
      & > {
        ul {
          display: flex;
          justify-content: space-evenly;
          & > {
            li {
              position: relative;
              list-style: none;
              &:hover {
                cursor: pointer;
              }
              &::after {
                content: '';
                width: 0%;
                left: 50%;
                bottom: 0;
                position: absolute;
                transition: 0.5s;
              }
              &.active-details-btn::after {
                left: 0%;
                width: 100%;
              }
            }
          }
        }
        article {
          display: flex;
          padding: 20px;
          flex-direction: row;
          flex-wrap: wrap;
        }
        .pokemon-details-basestat-article {
          display: grid;
          padding: 30px;
        }
      }
    }
  }
}

.pokemon-details-about-article {
  gap: 10px;
  .gender-flex {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
  }
  p {
    flex-basis: 70%;
  }
  .stat-name {
    flex-basis: 25%;
  }
  .two-column {
    flex-basis: 100%;
  }
}

.pokemon-details-basestat-article {
  grid-template: 1fr 1fr 1fr 1fr 1fr 1fr / 40% 10% 50%;
  align-items: center;
  gap: 10px;
  text-transform: capitalize;
  .stat-bar {
    border-radius: 10px;
    width: calc(var(--i)*1px);
    height: 5px;
    animation: statload 0.5s;
  }
}
@keyframes statload {
  0%{
    width: 0;
  }
  100% {
    width: calc(var(--i)*1px);
  }
}

.pokemon-details-evolution-article {
  height: 90%;
  overflow: auto;
  justify-content: space-evenly;
}

.pokemon-details-moves-article {
  max-height: 90%;
  text-transform: capitalize;
  gap: 10px;
  overflow: auto;
}

.pokemon-details-evolution-article {
  pokemon-item {
    text-align: center;
    flex-direction: column;
    padding: 10px;
    width: 150px;
    height: 200px;
    margin: 5px;
    transition: none;
    .pokeball-png {
      right: -20px;
      top: -20px;
      transform: rotate(40deg);
    }
    h2 {
      font-size: 18px;
    }
  }
}